figure {margin: 0;}

.title-header {
  & {
    margin: 0 auto $baseLineHeight*3;
    text-align: center;  

    @media (max-width: 979px) {margin: 0 auto $baseLineHeight;}  
  }

  h1 {
    max-width: 80%;
    margin: 0 auto;
    font: normal 52px/1.25em $displayFontFamily;
    letter-spacing: -.075em;

    @media (max-width: 479px) {font-size: 36px;}
    @media (max-width: 979px) {max-width: none;}
  }
}

.title-header-frontpage {
  & {
    padding: $baseLineHeight*2 0;
    border: solid $grayLighter;
    border-width: 1px 0;
  }

  p {
    @extend .lead;
    margin: $baseLineHeight auto 0;

    @media (max-width: 479px) {font-size: 16px !important;}
    @media (min-width: 980px) {max-width: 70%;}
  }
}
.title-header-single {
  margin: $baseLineHeight auto $baseLineHeight*2;
}

.page-header-image {
  overflow: hidden;
  
  @media (max-width: 979px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; margin-bottom: 5px; margin-right: 20px; }
.alignright { float: right; margin-bottom: 5px; margin-left: 20px; }
figure.alignnone { margin-left: 0; margin-right: 0; }