.navbar {
  /* Kill Bootstrap's default box shadow */
  &, .navbar-inner, .navbar-fixed-top {
    @include box-shadow(none !important);
    background: transparent none !important;
  }
}

.brand {text-transform: uppercase;}

/* Links */
.nav-main {
  /* Menu items */
  a {
    @include box-shadow(none !important);
    text-shadow: none !important;
  }

  .nav > li > a {
    & {color: $black;}
    &:focus, &:hover {color: $linkColorHover;}
  }
  
  .nav > .active > a {
    &, &:focus, &:hover {color: $linkColorHover;}
  }

  @media (min-width: 980px) {
    & {float: right;}
  }
}

/* Dropdowns */
.caret {
  .navbar .nav li.dropdown > .dropdown-toggle & {
    border-top-color: $grayDark;
    border-bottom-color: $grayDark;
  }
  .navbar .nav li.dropdown > .dropdown-toggle:hover & {
    border-top-color: $red;
    border-bottom-color: $red;
  }
}

/* Hamburger button, to toggle the menu on small screens */
.btn-navbar {
  @include box-shadow(none !important);

  background: transparent none !important;
  padding: 0;
  border: 0;
}

.navbar .btn-navbar .icon-bar {
  @include box-shadow(none !important);
  width: 21px;
  height: 3px !important;
  background: $black !important
}