.navbar {
  /* Kill Bootstrap's default box shadow */
  &, .navbar-inner, .navbar-fixed-top {
    @include box-shadow(none !important);
    background: transparent none !important;
  }

  .brand {
    text-transform: uppercase;
    &:hover b {color: $orange;}
    @media (max-width: 979px) {padding-left: 5px !important;}
  }
}

/* Links */
.nav-main {
  /* Menu items */
  a {
    @include box-shadow(none !important);
    text-shadow: none !important;
  }

  .nav > li > a {
    & {
      padding-left: 0;
      color: $black;
      text-transform: uppercase;
      font-weight: bold;
    }
    &:focus, &:hover {color: $linkColorHover;}
    &:after {
      @extend .muted;
      content: attr(title);
      margin-left: .5em;
      font-size: 12px;
      text-transform: none;
      font-weight: normal;
    }
  }
  
  .nav > .active > a {
    &, &:focus, &:hover {color: $linkColorHover;}
  }

  @media (min-width: 980px) {
    & {float: right;}
  }
}

/* Dropdowns */
.caret {
  .navbar .nav li.dropdown > .dropdown-toggle & {
    border-top-color: $grayDark;
    border-bottom-color: $grayDark;
  }
  .navbar .nav li.dropdown > .dropdown-toggle:hover & {
    border-top-color: $red;
    border-bottom-color: $red;
  }
}

/* Hamburger button, to toggle the menu on small screens */
.navbar .btn-navbar {
  @include box-shadow(none !important);

  background: transparent none !important;
  margin-right: -10px !important;
  border: 0;
}

.navbar .btn-navbar .icon-bar {
  @include box-shadow(none !important);
  width: 21px;
  height: 3px !important;
  background: $black !important
}